/* COLOR VARIABLES */
:root {
  --neutral-light-gray: #f0f0f0;
  --neutral-dark-gray: #3d4551;
  --info-light-blue: #e7f6f8;
  --info-medium-blue: #009ec1;
  --body-bg-color: #ffffff;
  --main-content-black: #000000;
  --main-link-color: #2277c1;
  --footer-text-gray: #a9aeb1;
  --disclaimer-text-gray: #71767a;
  --step-line-gray: #dcdee0;
}

/* BODY INIT */
html {
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-size: 10px;
  line-height: 1.5;
  color: var(--main-content-black);
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--neutral-light-gray);
}

/* Containers and sections */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 10px 0 10px 0;
}

.letter-size {
  background-color: var(--body-bg-color);
  width: 612px;
  height: 792px;
  padding: 24px 60px;
}

.logo {
  width: 127px;
  height: auto;
  margin-right: 40px;
}

.header {
  display: flex;
  align-items: start;
  margin-top: 24px;
}

.recipient-container {
  margin-top: 32px;
}

.recipient-info {
  display: flex;
  margin-top: 20px;
}

.intro {
  margin-top: 60px;
  padding-right: 30px;
}

.content-block {
  border-left: 8px solid var(--main-content-black);
  padding: 10px;
  margin-bottom: 16px;
  text-wrap: balance;
}

.main-content {
  margin-top: 24px;
  padding-right: 30px;
}

.list-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 18px;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: var(--main-link-color);
  font-weight: bold;
}

ul {
  text-wrap: balance;
}

li {
  margin-top: 4px;
}

.text-x-small {
  font-size: 0.8rem;
}

.text-small {
  font-size: 0.9rem;
}

.text-large {
  font-size: 1.2rem;
}

.data-text {
  color: var(--disclaimer-text-gray);
}

.list-number {
  display: grid;
  place-items: center;
  background-color: var(--main-content-black);
  color: var(--body-bg-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.mr-30 {
  margin-right: 30px;
}

.mr-253 {
  margin-right: 253px;
}

.mt-14 {
  margin-top: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pl-10 {
  padding-left: 10px;
}
