/* COLOR VARIABLES */
:root {
  --body-bg-color: #ffffff;
  --main-content-black: #000000;
  --neutral-dark-gray: #737373;
  --neutral-gray: #a0a0a0;
  --neutral-light-gray: #f0f0f0;
  --neutral-x-light-gray: #f6f6f6;
  --info-light-blue: #e7f6f8;
  --info-medium-blue: #009ec1;
  --alert-light-red: #f4e3db;
  --alert-medium-red: #d54308;
  --hyperlink-color: #1765b2;
  --data-text-gray: #5d5d5d;
  --footer-text: #3d3d3d;
  --footer-border: #e7e7e7;
}

/* BODY INIT */
html {
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-size: 10px;
  line-height: 1.4;
  color: var(--main-content-black);
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--neutral-light-gray);
}

/* TYPOGRAPHY */
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 12px;
  text-wrap: balance;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: var(--hyperlink-color);
  font-weight: bold;
}

ul,
ol {
  padding-left: 20px;
  text-wrap: balance;
}

li {
  margin-top: 4px;
}

label {
  text-wrap: balance;
}

input {
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

textarea {
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 4px;
  max-width: 100%;
}

.text-xx-small {
  font-size: 0.7rem;
  line-height: 1.2;
}

.text-x-small {
  font-size: 0.8rem;
  line-height: 1.2;
}

.text-small {
  font-size: 0.9rem;
}

.text-large {
  font-size: 1.2rem;
}

.text-XL {
  font-size: 1.4rem;
}

.text-2XL {
  font-size: 1.6rem;
}

.caption {
  font-size: 0.9rem;
  font-weight: normal;
  font-style: italic;
}

/* CONTAINER AND BLOCKS */
.pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 10px 0;
}

.letter-size {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--body-bg-color);
  width: 612px;
  height: 792px;
  padding: 24px 60px;
}

.header {
  display: grid;
  grid-template-columns: 168px 168px auto;
  margin-top: 24px;
}

.logo {
  width: 127px;
  height: auto;
  margin-right: 40px;
}

.recipient-container {
  margin-top: 30px;
}

.recipient-info {
  display: grid;
  grid-template-columns: 336px auto;
  margin-top: 16px;
}

.intro {
  margin-top: 56px;
}

.content-block {
  border-left: 8px solid var(--main-content-black);
  padding: 10px;
  margin-bottom: 16px;
  text-wrap: balance;
}

.main-content {
  padding-right: 24px;
}

.list-heading {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-wrap: balance;
}

.list-number {
  flex-basis: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  background-color: var(--main-content-black);
  color: var(--body-bg-color);
  border-radius: 50%;
  font-weight: bold;
}

.alert-block {
  width: fit-content;
  border-left: 8px solid var(--alert-medium-red);
  background-color: var(--alert-light-red);
  padding: 8px 12px 8px 8px;
  font-weight: bold;
  text-wrap: balance;
}

.info-block {
  width: fit-content;
  border-left: 8px solid var(--info-medium-blue);
  background-color: var(--info-light-blue);
  padding: 8px 12px 8px 8px;
  font-weight: bold;
  text-wrap: balance;
}

.appeal-rights-block {
  width: fit-content;
  border-left: 8px solid var(--neutral-gray);
  background-color: var(--neutral-light-gray);
  padding: 8px 12px 8px 8px;
  text-wrap: balance;
}

.page-footer {
  display: flex;
  align-items: center;
  color: var(--footer-text);
  border-top: 0.5px solid var(--footer-border);
  padding-top: 6px;
}

.barcode-placeholder {
  background-color: var(--neutral-light-gray);
  display: grid;
  place-items: center;
  width: 156px;
  height: 36px;
  margin-right: 41px;
}

.payment-card {
  background-color: var(--neutral-x-light-gray);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 12px;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 18px 0;
  margin-left: 20px;
  border-top: 0.5px solid var(--footer-border);
}

.radio-container {
  border-top: 0.5px solid var(--footer-border);
  padding: 10px 0 18px 0;
}

.small-form-grid {
  display: grid;
  grid-template-columns: 60px 84px auto;
  padding-left: 22px;
}

.mid-form-grid {
  display: grid;
  grid-template-columns: 146px auto;
  padding-left: 22px;
}

.form-grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 72px);
  padding-left: 22px;
  gap: 12px;
}

.form-container {
  padding: 24px 12px;
  border: 1px solid var(--footer-border);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 24px;
}

.input-container {
  display: grid;
  grid-template-columns: 20px auto;
  border-top: 0.5px solid var(--footer-border);
  padding-top: 10px;
  font-weight: bold;
  text-wrap: balance;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-footer {
  background-color: var(--neutral-x-light-gray);
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 8px;
  padding: 12px;
  font-weight: bold;
}

.terms-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.claimant-info-grid {
  display: grid;
  grid-template-columns: 168px 168px auto;
}

.other-issues-grid {
  display: grid;
  grid-template-columns: 150px auto;
  border-top: 1px solid var(--alert-medium-red);
  padding-top: 10px;
  padding-bottom: 10px;
}

.hearing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

.branch-card {
  border-top: 1px solid var(--footer-border);
  padding-top: 6px;
  margin-top: 12px;
}

.branch-card-spanish {
  border-top: 1px solid var(--footer-border);
  padding-top: 4px;
  margin-top: 10px;
}

.appeal-info-grid {
  display: grid;
  grid-template-columns: 58% auto;
  gap: 16px;
}

.appeal-info-grid-spanish {
  display: grid;
  grid-template-columns: 65% auto;
  gap: 16px;
}

/* TABLE */

table {
  border-collapse: collapse;
  border: 1px solid var(--neutral-gray);
}

thead {
  background-color: var(--neutral-light-gray);
  font-size: 0.8rem;
  text-wrap: balance;
}

th,
td {
  border: 1px solid var(--neutral-gray);
  padding: 4px 8px;
}

td {
  text-align: right;
}

/* UTILITIES */

.data-text {
  color: var(--data-text-gray);
}

.text-gray {
  color: var(--neutral-dark-gray);
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.tracking-tight {
  letter-spacing: -0.2px;
}

.tracking-tighter {
  letter-spacing: -0.3px;
}

.balance {
  text-wrap: balance;
}

.w-full {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-14 {
  margin-top: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-36 {
  margin-top: 36px;
}

.pl-0 {
  padding-left: 0;
}

.pt-4 {
  padding-top: 4px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-18 {
  padding-left: 18px;
}

.pl-22 {
  padding-left: 22px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-30 {
  padding-right: 30px;
}

.wide-grid {
  display: grid;
  grid-template-columns: 318px auto;
}

.mid-grid {
  display: grid;
  grid-template-columns: 150px auto;
}

.uneven-2-col-grid {
  display: grid;
  grid-template-columns: 45% auto;
  gap: 16px;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding-left: 12px;
}

.grid-3-col > ul {
  padding-left: 8px;
}

.span-2 {
  grid-column: 1 / span 2;
}

.span-3 {
  grid-column: 1 / span 3;
}

.row-span-2 {
  grid-column-start: 2;
  grid-row: 1 / span 2;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
