/* COLOR VARIABLES */
:root {
  --body-bg-color: #ffffff;
  --main-content-black: #000000;
  --neutral-light-gray: #f0f0f0;
  --info-light-blue: #e7f6f8;
  --info-medium-blue: #009ec1;
  --alert-light-red: #f4e3db;
  --alert-medium-red: #d54308;
  --hyperlink-color: #1765b2;
  --data-text-gray: #5d5d5d;
  --footer-text: #3d3d3d;
  --footer-border: #e7e7e7;
}

/* BODY INIT */
html {
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-size: 10px;
  line-height: 1.5;
  color: var(--main-content-black);
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--neutral-light-gray);
}

/* TYPOGRAPHY */
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 18px;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: var(--hyperlink-color);
  font-weight: bold;
}

ul {
  text-wrap: balance;
}

li {
  margin-top: 4px;
}

.text-x-small {
  font-size: 0.8rem;
}

.text-small {
  font-size: 0.9rem;
}

.text-large {
  font-size: 1.2rem;
}

/* CONTAINER AND BLOCKS */
.pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 10px 0;
}

.letter-size {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--body-bg-color);
  width: 612px;
  height: 792px;
  padding: 24px 60px;
}

.header {
  display: flex;
  align-items: start;
  margin-top: 24px;
}

.logo {
  width: 127px;
  height: auto;
  margin-right: 40px;
}

.recipient-container {
  margin-top: 30px;
}

.recipient-info {
  display: flex;
  margin-top: 16px;
}

.intro {
  margin-top: 56px;
}

.content-block {
  border-left: 8px solid var(--main-content-black);
  padding: 10px;
  margin-bottom: 16px;
  text-wrap: balance;
}

.main-content {
  padding-right: 30px;
}

.list-heading {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-wrap: balance;
}

.list-number {
  flex-basis: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  background-color: var(--main-content-black);
  color: var(--body-bg-color);
  border-radius: 50%;
  font-weight: bold;
}

.alert-block {
  width: 90%;
  border-left: 8px solid var(--alert-medium-red);
  background-color: var(--alert-light-red);
  padding: 8px 10px;
  font-weight: bold;
  text-wrap: balance;
}

.info-block {
  width: 90%;
  border-left: 8px solid var(--info-medium-blue);
  background-color: var(--info-light-blue);
  padding: 8px 10px;
  font-weight: bold;
  text-wrap: balance;
}

.page-footer {
  display: flex;
  align-items: center;
  color: var(--footer-text);
  border-top: 0.5px solid var(--footer-border);
  padding-top: 6px;
}

.barcode-placeholder {
  background-color: var(--neutral-light-gray);
  display: grid;
  place-items: center;
  width: 156px;
  height: 36px;
  margin-right: 41px;
}

/* UTILITIES */
.data-text {
  color: var(--data-text-gray);
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.mr-30 {
  margin-right: 30px;
}

.mr-253 {
  margin-right: 253px;
}

.mt-14 {
  margin-top: 14px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-30 {
  padding-left: 30px;
}

.ml-auto {
  margin-left: auto;
}

.mt-24 {
  margin-top: 24px;
}

.top-page {
  margin-top: 36px;
}
